

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat+Alternates:wght@900&family=Montserrat:ital,wght@1,700&family=Roboto:ital,wght@0,700;0,900;1,700;1,900&family=Sacramento&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto","sans-serif";
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}